@import "../../../App.scss"; 


.footer-info-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 300px; 
}

.info-item {
  align-items: center;
  display: flex;
  margin: 16px 0px;
  text-align: left;
}

.footer-info-item-title {
  color: $secondary-color;
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.info-item__texts {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.info-item__text {
  color: $secondary-color;
  font-size: 24px;
  font-weight: 400;
  max-width: 360px;
  white-space: pre-line;
}

@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .footer-info-item-container {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .info-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-item__texts {
    margin-left: 0;
  }

  .footer-info-item-title {
    font-size: 28px;
  }

  .info-item__text {
    font-size: 20px;
  }
}